<a href="https://colab.research.google.com/github/cyyeh/ds-portfolios/blob/master/projects/youbike/notebooks/1.0-youbike_history_data_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Youbike History Data EDA

reference: https://github.com/pixnet/2018-pixnet-hackathon/blob/master/opendata/pmo.opendata.md

- youbike station vacancy data
- from: 2018/1/1
- to: 2018/6/15
- update frequency: 1 minute

## Environment Setup

In [7]:
!unzip drive/My\ Drive/youbike-history-data-1.csv.zip

Archive:  drive/My Drive/youbike-history-data-1.csv.zip
  inflating: youbike-history-data-1.csv
  inflating: __MACOSX/._youbike-history-data-1.csv

In [0]:
import dask.dataframe as dd

In [0]:
filename = 'youbike-history-data-1.csv'
df = dd.read_csv(filename)

In [10]:
df.head()

   0304          金華公園  ...  2018-04-30 15:49:35.2  2018-04-30
0   357          松友公園  ...    2018-04-30 15:49:35  2018-04-30
1   159   捷運西湖站(1號出口)  ...    2018-04-30 15:49:35  2018-04-30
2   188          社子國小  ...    2018-04-30 15:49:35  2018-04-30
3   259        南京遼寧街口  ...    2018-04-30 15:49:35  2018-04-30
4   204  臺北市立大學(天母校區)  ...    2018-04-30 15:49:35  2018-04-30

[5 rows x 18 columns]