# Youbike, Weather, Air Data Integration

In [0]:
import pandas as pd

In [9]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

## Load Preprocessed Data

- youbike data: https://github.com/cyyeh/ds-portfolios/raw/master/projects/youbike/data/interim/1.0-youbike-history-data-186-df.pkl
- weather-air data: https://github.com/cyyeh/ds-portfolios/raw/master/projects/youbike/data/interim/1.0-weather-air-history-data-taipei-df.pkl

In [0]:
weather_air_df_path = 'drive/My Drive/1.0-weather-air-history-data-taipei-df.pkl'
weather_air_df = pd.read_pickle(weather_air_df_path)

In [15]:
weather_air_df

                     細懸浮微粒(μg/m^3)  總碳氫化合物(ppm)  ...  風向(360degree)  降水量(mm)
日期                                               ...
2018-01-01 00:00:00           12.0          2.0  ...           50.0      0.0
2018-01-01 01:00:00           19.0          2.0  ...           60.0      0.0
2018-01-01 02:00:00           18.0          2.0  ...           60.0      0.0
2018-01-01 03:00:00           14.0          2.0  ...           70.0      0.0
2018-01-01 04:00:00            9.0          2.0  ...           90.0      0.0
...                            ...          ...  ...            ...      ...
2018-06-15 19:00:00           10.0          2.6  ...          230.0      0.0
2018-06-15 20:00:00           10.0          2.7  ...          240.0      0.0
2018-06-15 21:00:00            8.0          2.6  ...          210.0      0.0
2018-06-15 22:00:00            9.0          2.6  ...          190.0      0.1
2018-06-15 23:00:00            3.0          2.5  ...          170.0      0.1

[3984 rows x 14 columns]

In [0]:
youbike_df_path = 'drive/My Drive/1.0-youbike-history-data-186-df.pkl'
youbike_df = pd.read_pickle(youbike_df_path)

In [13]:
youbike_df

                     stop_no stop_name  ... vacancy_number status
db_update_time                          ...
2018-01-01 00:10:00      186    臺北市立大學  ...             53      1
2018-01-01 00:15:00      186    臺北市立大學  ...             53      1
2018-01-01 00:20:00      186    臺北市立大學  ...             52      1
2018-01-01 00:25:00      186    臺北市立大學  ...             58      1
2018-01-01 00:30:00      186    臺北市立大學  ...             59      1
...                      ...       ...  ...            ...    ...
2018-06-15 23:40:00      186    臺北市立大學  ...             78      1
2018-06-15 23:45:00      186    臺北市立大學  ...             77      1
2018-06-15 23:50:00      186    臺北市立大學  ...             78      1
2018-06-15 23:55:00      186    臺北市立大學  ...             81      1
2018-06-16 00:00:00      186    臺北市立大學  ...             81      1

[43788 rows x 9 columns]